    <h2>My Authors</h2>
    <ul class="authors">
      <li *ngFor="let author of authors"
        [class.selected]="author === selectedAuthor"
        (click)="onSelect(author)">
        <span class="badge">{{author.idAuthor}}</span> {{author.firstName}}
      </li>
    </ul>
     
    <div *ngIf="selectedAuhtor">
     
      <h2>{{ selectedAuthor.firstName | uppercase }} Details</h2>
      <div><span>Id: </span>{{selectedAuthor.id}}</div>
      <div>
        <label>Imię:
          <input [(ngModel)]="selectedAuthor.firstName" placeholder="name">
        </label>
      </div>
     
    </div>

    <app-author-detail [author]="selectedAuthor"></app-author-detail>