    <h2>My Authors</h2>
    <ul class="authors">
      <li *ngFor="let author of authors"
        [class.selected]="author === selectedAuthor"
        (click)="onSelect(author)">
        <span class="badge">{{author.authorId}}</span> {{author.firstName}}
      </li>
    </ul>

    <div *ngIf="selectedAuthor">

      <h2>{{ selectedAuthor.firstName | uppercase }} Details</h2>
      <div><span>Id: </span>{{selectedAuthor.authorId}}</div>
      <div>
        <label>Imię:
          <input [(ngModel)]="selectedAuthor.firstName" name="firstName" placeholder="name">
        </label>
      </div>

    </div>
