.title{
  font-family: Ranga;
  font-size: 70px;
  text-align: center;
}

.space{
  margin-top: 2em;
  float: left;
  width:65%;
  }

.booktitle{
  font-family: Ranga;
  font-size: 25px;
}
 img{
  float:left;
  width: 30%;
  margin-top: 12em;
 }

