<div class="booksList">
  <span class="ui-float-label">
    <input id="float-input" type="text" [(ngModel)]="filter" size="30" pInputText>
    <label for="float-input">Filtruj po tytule</label>
</span>
  <ul>
    <li *ngFor="let book of pagedBooks | filterByTitle: filter">
      <a routerLink="/books/{{book.bookId}}">{{book.title | uppercase}}</a>
      <button class="btn btn-danger" (click)="deleteBook(book)">Usuń <i class="fa fa-minus-circle"></i></button>
    </li>
  </ul>
  <p-paginator rows="2" totalRecords="{{allBooks.length}}" pageLinkSize="3" (onPageChange)="paginate($event)"></p-paginator>
</div>


