<p-growl></p-growl>
<div *ngIf="book; else elseBlock" class="mt-4">
  <p-fieldset collapsed="false">
    <p-header>Edytuj książkę</p-header>

    <div class="col-sm-4 mr-auto ml-auto">
      <form #bookForm="ngForm" (ngSubmit)="updateBook()">

        <div class="mt-4">
          <span class="ui-float-label">
            <input type="text" id="title-input"[(ngModel)]="book.title" name="title" required pInputText>
            <label for="title-input">Ttytuł</label>
          </span>
        </div>

        <div class="mt-4">
          <p-multiSelect [options]="authorsSelect" defaultLabel="Wybierz autorów" [panelStyle]="{minWidth:'20px'}"
                         [(ngModel)]="book.authors" name="auhtors" ></p-multiSelect>
        </div>

        <div class="mt-4">
          <span class="ui-float-label">
            <input type="text" id="country-input"[(ngModel)]="book.country" name="country" required pInputText>
            <label for="country-input">Kraj</label>
          </span>
        </div>

        <div class="mt-4">
          <span class="ui-float-label">
            <input type="text" id="language-input"[(ngModel)]="book.language" name="language" required pInputText>
            <label for="language-input">Język</label>
          </span>
        </div>

        <div class="mt-4">
          <span class="ui-float-label">
            <input type="text" id="pages-input"[(ngModel)]="book.pages" name="pages" pInputText disabled required>
            <label for="pages-input">Liczba stron</label>
          </span>
          <p-slider [(ngModel)]="book.pages" [min]="1" [max]="2000" name="pages" [style]="{'width':'200px'}"></p-slider>
        </div>

        <div class="mt-4">
          <span class="ui-float-label">
            <input type="text" id="year-input"[(ngModel)]="book.year" name="year" pInputText disabled required>
            <label for="year-input">Rok wydania</label>
          </span>
          <p-slider [(ngModel)]="book.year" [min]="1" [max]="2018" name="year" [style]="{'width':'200px'}"></p-slider>
        </div>

        <div class="text-center mt-3">
          <button class="btn btn-success" type="submit" [disabled]="bookForm.invalid || isInvalid()" >Edytuj książkę <i class="fa fa-check-circle"></i></button>
        </div>

      </form>
    </div>
  </p-fieldset>

  <h2>{{ book.title | uppercase }} Details</h2>
  <div>
    id:  {{book.bookId}}<br/>
    autorzy: <div *ngFor="let author of book.authors">{{author.firstName}} {{author.lastName}}</div>
    jezyk: {{book.language}}  <br/>
    kraj: {{book.country}}  <br/>
    liczba stron: {{book.pages}}  <br/>
    wydano: {{book.year}}  <br/>
  </div>

</div>
<ng-template #elseBlock>Brak ksiązki o podanym id</ng-template>
