<p-growl></p-growl>
<h2 class="title">Szczegóły</h2>
<div *ngIf="book; else elseBlock" class="mt-4">
  <p-fieldset collapsed="false">
    <p-header>Edytuj książkę</p-header>

    <div class="col-sm-4 mr-auto ml-auto">
      <form #bookForm="ngForm" (ngSubmit)="updateBook()">

        <div class="mt-4">
          <span class="ui-float-label">
            <input type="text" id="title-input"[(ngModel)]="editedBook.title" name="title" required pInputText>
            <label for="title-input">Ttytuł</label>
          </span>
        </div>

        <div class="mt-4">
          <p-multiSelect [options]="authorsSelect" defaultLabel="Wybierz autorów" [panelStyle]="{minWidth:'20px'}"
                         [(ngModel)]="editedBook.authors" name="auhtors" ></p-multiSelect>
        </div>

        <div class="mt-4">
          <span class="ui-float-label">
            <input type="text" id="country-input"[(ngModel)]="editedBook.country" name="country" required pInputText>
            <label for="country-input">Kraj</label>
          </span>
        </div>

        <div class="mt-4">
          <span class="ui-float-label">
            <input type="text" id="language-input"[(ngModel)]="editedBook.language" name="language" required pInputText>
            <label for="language-input">Język</label>
          </span>
        </div>

        <div class="mt-4">
          <span class="ui-float-label">
            <input type="text" id="pages-input"[(ngModel)]="editedBook.pages" name="pages" pInputText disabled required>
            <label for="pages-input">Liczba stron</label>
          </span>
          <p-slider [(ngModel)]="editedBook.pages" [min]="1" [max]="2000" name="pages" [style]="{'width':'200px'}"></p-slider>
        </div>

        <div class="mt-4">
          <span class="ui-float-label">
            <input type="text" id="year-input"[(ngModel)]="editedBook.year" name="year" pInputText disabled required>
            <label for="year-input">Rok wydania</label>
          </span>
          <p-slider [(ngModel)]="editedBook.year" [min]="1" [max]="2018" name="year" [style]="{'width':'200px'}"></p-slider>
        </div>

        <div class="text-center mt-3">
          <button class="btn btn-success" type="submit" [disabled]="bookForm.invalid || isInvalid()" >Edytuj książkę <i class="fa fa-check-circle"></i></button>
        </div>

      </form>
    </div>
  </p-fieldset>

        <table class = "table space tabel-responsive">
          <thead class="thead-dark">
            <tr>
              <th scope="col" colspan="2" class="nag">{{book.title | uppercase}} Szczegóły</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>ID:</th>
              <th>{{book.bookId}}</th>
            </tr>
            <tr>
              <th>Autorzy: </th>
              <th *ngFor="let author of book.authors"> <a routerLink="/authors/{{author.authorId}}" title="Sprawdź szczegóły"> {{author.firstName}} {{author.lastName}}</a></th>
            </tr>
            <tr>
              <th>Język:</th>
              <th>{{book.language}}</th>
            </tr>
            <tr>
              <th>Kraj:</th>
              <th>{{book.country}}</th>
            </tr>
            <tr>
              <th>Liczba stron:</th>
              <th>{{book.pages}}</th>
            </tr>
            <tr>
              <th>Rok wydania:</th>
              <th>{{book.year}}</th>
            </tr>

          </tbody> 
          </table> 
<ng-template #elseBlock>Brak ksiązki o podanym id</ng-template>
