.title{
  font-family: Josefin Sans;
  font-size: 70px;
  text-align: center;
}

.edition{
	color:black;
}

.nag{
	text-align: center;
}

.space{
	margin-top: 3em;
}

.size{
	width:30em;
}

.photo{
	margin-top: 1.8em;
	margin-right: 1.8em;
}